body {
    background-color:cornsilk
 }

 h1 {
     color:black
 }
 div {
     background-color:burlywood;
     border-style: solid;
     border-color:black;
     border-radius: 5px;
     height: 200px;
     width:400px;
    font-size: larger;

 }
.hov{
    height: 200px;
    width:200px;
    background-color: yellow;
}

table {
    border-collapse: collapse;
    width:100%
}
th, td{
    padding:8px;
    text-align: left;
    border-bottom: 1px solid black;
}
tr:nth-child(even){
    background-color: rgb(185, 185, 185);
}

tr:hover{
    background-color: yellow;
}
#box-model{
    padding:20px;
    border-style: solid;
    border-width: 3px;
    margin: 30px;
    background-color:blue;
}